<p id="notice"><%= notice %></p>
<h1>Parked domains to be classified</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email domain</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parked.each do |park| %>
      <tr>
        <td><%= link_to park.url, edit_domain_path(park) %></td>

        <td><%= link_to 'Edit', edit_domain_path(park) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
