<div class="container">
  <h1>Upload email domains from CSV</h1>
  <p class="btn-lg">
    <%= form_tag emails_import_path, multipart: true do%>
    <%= file_field_tag :file%><%= submit_tag "Upload email data", class: "btn btn-primary btn-lg" %>
    <% end %>
  </p>
</div>
