<%# add navigation links to this file %>
<li><%= link_to 'Create Email Record', new_email_path %></li>
<li><%= link_to "Upload emails",  emails_upload_path %> </li>
<li><%= link_to "Classify email domain bridge",  emails_upload_path %> </li>
